<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{main_title}}</title>

    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/mainsite/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/static/mainsite/css/feather.css">
    <link rel="stylesheet" href="/static/mainsite/css/custom.css">
    <!-- js -->
    <!-- jquery -->
    <script src="/static/mainsite/js/jquery-3.2.1.min.js"></script>
    <!-- smooth scroll -->
    <script>
        $(document).ready(function() {
            $('.js-scrollTo').on('click', function() { // Au clic sur un élément
                var page = $(this).attr('href'); // Page cible
                var speed = 750; // Durée de l'animation (en ms)
                $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
                return false;
            });
        });
    </script>
    <!-- smooth scrolldown on page load -->
    {% if scroll_down_on_load %}
    <script type="text/javascript">
        $(function(){
            $('html, body').animate({
                scrollTop: $('#species_index').offset().top
            }, 500);
            return false;
        });
    </script>
    {% endif %}

  </head>
  <body>

    {% include 'mainsite/navbar.html' %}

    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    <footer class="w_bg white mt-5 mb-0 pb-5">
        <div class="container mb-0">

            <p class="float-right"><a class="white" href="#">Haut de page</a></p>
            <p> 
                &middot;&nbsp;<a class="white" href="/contact">Nous contacter</a><br>
                &middot;&nbsp;<a class="white" target="_blank" href="https://www.facebook.com/Guadeloupe-orchid%C3%A9es-909582925797601/">Notre page facebook</a> <br>
                &middot;&nbsp;<a class="white" href="/confidentialite">Politique de confidentialité</a><br>
                &middot;&nbsp;<a class="white" href="/cgu">Conditions d'utilisation</a><br>
                &middot;&nbsp;<span>© Guadeloupe orchidées. Tous droits réservés.</span>
            </p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/mainsite/js/feather.js"></script>
    <script>feather.replace()</script>
    <script src="/static/mainsite/js/popper.min.js"></script>
    <script src="/static/mainsite/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/mainsite/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
