{% extends "mainsite/base.html" %}
{% block content %}
<div class="jumbotron">

		<div class="container">
			<h1 class="display-3 white pb-5">Blog Guadeloupe Orchidées</h1>
		</div>

</div> <!-- end jumbotron -->

<div class="row m-0">
	<div class="container-fluid col-md-9">
		{% for post in posts %}
		<div class="row m-0">

			<div class="container-fluid col-lg-8 text-justify">
				<h1>{{post.titre}}</h1>
				<div class="mb-3">
					<span class="align-bottom" data-feather="calendar"></span>
					<span>{{post.timestamp|date:'d-m-Y'}}</span>
				</div>
				<div class="mb-3">
					<span class="align-bottom" data-feather="bookmark"></span>
					{% for tag in post.tags.all %}
					<a class="btn btn-outline-secondary btn-sm mr-1" href="/ogresite/tag/{{tag.uid}}">{{tag.nom}}</a>
					{% endfor %}
				</div>
				{% if post.epingle %}
				<div class="mb-3">
					<span class="align-bottom" data-feather="feather"></span>
					<span>Post épinglé</span>
				</div>
				{% endif %}
				<hr>
				
				{{post.contenu|linebreaksbr}}

				<hr>

				<div class="w_bg m-5 text-center">
				</div>

			</div>
		</div>
		{% endfor %}
	</div>

	<div class="container-fluid col-lg-2">

		<p>Explorer ce blog</p>

		<div class="row m-0">
			{% if posts.has_previous %}
			<div class="col-sm-3 p-0">
				<a class="w-100 m-0 rounded-0 rounded-left btn btn-primary" href="?page={{ posts.previous_page_number }}"><i class="align-bottom" data-feather="chevron-left"></i></a>
			</div>
			{% else %}
			<div class="col-sm-3 p-0">
				<a class="w-100 m-0 rounded-0 rounded-left btn btn-secondary" href=""><i class="align-bottom disabled" data-feather="minus"></i></a>
			</div>
			{% endif %}
			<div class="col-sm-6 p-0">
				<a class="w-100 m-0 rounded-0 btn btn-primary" href=""><p class="pb-1 m-0">{{ posts.number }} sur {{ posts.paginator.num_pages }}</p></a>
			</div>
			{% if posts.has_next %}
			<div class="col-sm-3 p-0">
				<a class="w-100 m-0 rounded-0 rounded-right btn btn-primary" href="?page={{ posts.next_page_number }}"><i class="align-bottom" data-feather="chevron-right"></i></a>
			</div>
			{% else %}
			<div class="col-sm-3 p-0">
				<a class="w-100 m-0 rounded-0 rounded-right btn btn-primary" href=""><i class="white align-bottom" data-feather="minus"></i></a>
			</div>
			{% endif %}
			</a>
		</div>

		<hr>

		<p>Tous les tags</p>
		{% for tag in tag_list %}
		<a class="btn btn-primary btn-sm btn-block" href="/ogresite/tag/{{tag.uid}}">{{tag.nom}}</a>
		{% endfor %}

	</div>
</div>

{% endblock %}