{% extends "mainsite/base.html" %}
{% block content %}

<div class="jumbotron">

    <div class="container">
        <h1 class="display-3 white pb-5">Conditions générales d'utilisation</h1>
    </div>

</div>

<div class="container">

    <p>Dernière mise à jour : 09 novembre 2017.</p> 
    <p>Cette page explicite les conditions d'utilisation du site www.orchidees.fr</p>

    <p class="lead">ARTICLE 1 : Objet</p>

    <p>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique des modalités de mise à disposition des services du site [Nom du site] et leur utilisation par « l'Utilisateur ».

    <p>Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles constituent le contrat entre le site et l'Utilisateur. L’accès au site par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation. En cas de non-acceptation des conditions générales d'utilisation stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site. www.orchidees.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d'utilisation.</p>

<p class="lead">ARTICLE 2 : Mentions légales</p>

<p>L'édition du site www.orchidees.fr est assurée par la Société EARL Guadeloupe Orchidées. Le Directeur de la publication est Monsieur Philippe OLLIVIER.</p>

<p class="lead">ARTICLE 3 : Définitions</p>

<p>La présente clause a pour objet de définir les différents termes essentiels du contrat :</p>

<ul>
    <li>Utilisateur : ce terme désigne toute personne qui utilise le site ou l'un des services proposés par le site.</li>
    <li>Contenu utilisateur : ce sont les données transmises par l'Utilisateur au sein du site.</li>
    <li>Membre : l'Utilisateur devient membre lorsqu'il est identifié sur le site.</li>
    <li>Identifiant et mot de passe : c'est l'ensemble des informations nécessaires à l'identification d'un Utilisateur sur le site. L'identifiant et le mot de passe permettent à l'Utilisateur d'accéder à des services réservés aux membres du site. Le mot de passe est confidentiel.</li>
</ul>

<p class="lead">ARTICLE 4 : accès aux services</p>

<p>Le site permet à l'Utilisateur un accès gratuit aux services suivants :</p>
<ul>
    <li>Informations indicatives concernant les orchidées et leur culture.</li>
    <li>Informations indicatives et non contractuelles sur les prix pratiqués dans nos lieux de vente.</li>
</ul>

<p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge. Selon le cas :</p>
<ul>
    <li>L’Utilisateur non membre n'a pas accès aux services réservés aux membres. Pour cela, il doit s'identifier à l'aide de son identifiant et de son mot de passe.</li>
    <li>Le site met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. L'obligation étant de moyens, le site ne s'engage pas à atteindre ce résultat.</li>
    <li>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de www.orchidees.fr.</li>
    <li>L'accès aux services du site peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas. L'Utilisateur s'oblige à ne réclamer aucune indemnisation suite à l'interruption, à la suspension ou à la modification du présent contrat.</li>
</ul>

<p>L'Utilisateur a la possibilité de contacter le site par le formulaire disponible à la page <a href="/contact">contact</a>.</p>

<p class="lead">ARTICLE 5 : Propriété intellectuelle</p>

<p>Les marques, logos, signes et tout autre contenu du site font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.</p>
<p>L'Utilisateur sollicite l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus.</p>
<p>L'Utilisateur s'engage à une utilisation des contenus du site dans un cadre strictement privé. Une utilisation des contenus à des fins commerciales est strictement interdite.</p>

<p class="lead">ARTICLE 6 : Données personnelles</p>

<p>Ce site ne propose aucun service de mise en commun de contenu choisi par les utilisateurs. Tout le contenu affiché est généré par le directeur de l'édition du site www.orchidees.fr.</p>

<p class="lead">ARTICLE 7 : Responsabilité et force majeure</p>

<p>Les sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se réserve la faculté d'une non-garantie de la fiabilité des sources. Les informations données sur le site le sont à titre purement informatif. Ainsi, l'Utilisateur assume seul l'entière responsabilité de l'utilisation des informations et contenus du présent site.</p>

<p class="lead">ARTICLE 8 : Liens hypertextes</p>

<p>Des liens hypertextes sortants sont présents sur le site, cependant les pages web où mènent ces liens n'engagent en rien la responsabilité de [Nom du site] qui n'a pas le contrôle de ces liens. L'Utilisateur s'interdit donc à engager la responsabilité du site concernant le contenu et les ressources relatives à ces liens hypertextes sortants.</p>

<p class="lead">ARTICLE 9 : Évolution du contrat</p>

<p>Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat et à informer de la date de dernière mise à jour .</p>

<p class="lead">ARTICLE 10 : Durée</p>

<p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter de l'utilisation du service.</p>

<p class="lead">ARTICLE 11 : Droit applicable et juridiction compétente</p>


<p>La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, seuls les tribunaux de la <i>Cour d'Appel de Basse-Terre; 4 Boulevard Félix Eboué 97100 BASSE TERRE</i> sont compétents.</p>

<p class="lead">ARTICLE 12 : Publication par l’Utilisateur</p>

<p>Le site ne permet pas pour l'instant de publier des commentaires ou des informations personnelles.</p><!-- 

Dans ses publications, le membre s’engage à respecter les règles de la Netiquette et les règles de droit en vigueur.

Le site exerce une modération [a priori / a posteriori] sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.

Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment le droit d'utiliser sa publication sur internet et sur les réseaux de téléphonie mobile. 

La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.-->

</div>
{% endblock %}