{% extends "mainsite/base.html" %}
{% block content %}
<div class="jumbotron">

		<div class="container">
			<h1 class="display-3 white pb-5">Nous contacter</h1>
		</div>

</div> <!-- end jumbotron -->

<div class="container">

	<h3 class="mb-3">Boutique Guadeloupe Orchidées</h3>
	<h4 class="m-3 lead"><i class="align-bottom" data-feather="map-pin"></i> La Rose (parking de la Kaz'bah), 97114 Goyave</h4>
	<h4 class="m-3 lead"><i class="align-bottom" data-feather="phone-call"></i> <a class="no_decoration" href="tel:05 90 690 721 765">05 90 690 721 765</a></h4>
	<!-- <h4 class="m-3 lead"><i class="align-bottom" data-feather="mail"></i> <a class="no_decoration" href="mailto:orchid971@gmail.com">Nous envoyer un mail</a></h4> -->

	<button class="btn btn-outline-info">Ici un formulaire de contact direct</button>

	<hr class="featurette-divider">

	<div class="container-fluid gmap_contact">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4138.1201016038785!2d-61.58634278700858!3d16.15045573830364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTbCsDA5JzAwLjQiTiA2McKwMzUnMDQuOCJX!5e0!3m2!1sfr!2sfr!4v1510240556508" width="100%" height= "600" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>

</div>

{% endblock %}