{% extends "mainsite/base.html" %}
{% block content %}
<div class="jumbotron">

		<div class="container">
			<h1 class="display-3 white pb-5">Nos autres plantes par genre</h1>
		</div>
	
		<div class="row mr-0 ml-0 d-flex justify-content-center">
			{% for genre in all_plante_genres %}
			<div class="m-2">
				<a class="white" href="?genre={{genre.genre}}">
					<img class="bordered mb-3" src="/{{genre.img}}" alt="{{genre.genre}}">
					<div class="text-center">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-outline-light"><h5 class="m-0">{{genre.genre}}</h5></button>
							<button type="button" class="btn btn-outline-light"><h5 class="m-0">{{genre.plante_plantegenre.count}}</i></h5></button>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>

</div> <!-- end jumbotron -->

{% if chosen_genre == 'None' %}
<div class="container">
	<p class="lead">Sélectionnez un genre ci-dessus pour découvrir toutes nos plantes disponibles.</p>
	<br>
	<br>
	<br>
	<br>
</div>

{% else %}
<div id="species_index" class="container">

	<h1 class="text-center">{{chosen_genre}}</h1>

	{% if items_to_display %}
	{% for item in items_to_display %}
	<hr class="featurette-divider">

	<div class="row mb-4">

		<div class="col-sm-3">
			<a href="{{item.img}}"><img class="img-fluid bordered w_bg" src="{{item.img}}"></a>
			<h1 class="text-center"><span data-feather="tag"></span>{{item.prix}}€</h1>
		</div>

		<div class="col-sm-9">
			<p class="lead">{{item.genre}} {{item.espece}}</p>
			<p class="text-justify">{{item.description|linebreaksbr}}</p>
		</div>

	</div> <!-- /.row -->

	{% endfor %}

	{% else %}

	<p class="lead text-center">En réapprovisionnement !</p>

	{% endif %}
	{% endif %}
</div>

{% endblock %}