{% extends "mainsite/base.html" %}
{% block content %}

<div class="jumbotron">

    <div class="container">
        <h1 class="display-3 white pb-5">Politique de confidentialité</h1>
    </div>

</div>

<div class="container">

    <p>Dernière mise à jour : 09 novembre 2017.</p>
    
    <p class="lead text-justify">Notre politique de confidentialité est détaillée ici pour permettre à nos visiteurs d'être informés de ce que nous faisons de leurs données personnelles et de navigation.</p>
    
    <p class="lead text-justify"><i data-feather="info"></i>   Quelles informations personnelles collectons-nous lors de votre visite sur notre site ?</p>
    <p class="text-justify">Nous ne collectons aucune information personnelle de navigation.</p>
    <p class="text-justify">N'ayant pas de politique de récolte de données personnelles et de données de navigation, nous n'avons pas implémenté de système de protection de ces données.</p>
    
    <p class="lead text-justify"><i data-feather="info"></i>   Utilisons nous des cookies ?</p>
    <p class="text-justify">Nous n'utilisons pas de cookies pour des raisons de suivi de votre navigation.</p>
    
    <p class="lead text-justify"><i data-feather="info"></i>   Utilisons nous des ressources venant de tierce-parties ?</p>
    <p>Veuillez noter que nous utilisons l'API Google pour notre page contact et que par votre visite sur cette page et l'utilisation de la ressource Google maps, vous acceptez les termes et conditions du service <a href="https://developers.google.com/maps/terms">Google Maps/Google Earth APIs Terms of Service</a>.</p>
    
    <p class="lead text-justify"><i data-feather="info"></i>   Comment notre site traite le signal de protection contre le pistage ?</p>
    <p class="text-justify">Nous honorons sans réserve ce signal.</p>
    
    <p class="lead text-justify"><i data-feather="info"></i>   Notre site utilise-t-il des ressources tierces de pistage de navigation ?</p>
    <p class="text-justify">Nous n'utilisons aucune ressource de pistage de navigation.</p>
    
</div>
{% endblock %}